.gamebody{   position: relative;
  
  
    width: 100%;
    height: 100%;

    background-color: rgb(45,46,45);

}
.format{
position:relative;
width: 100%;
height: 300px;
    align-items: center;
    justify-content: center;
   margin-top:10px;
   border-radius: 50px;
   
}
.format > div{
    
     position:relative;
    
    width: 100%;
  height: 250px;
   display:flex;
    
    z-index: 0;
    transition: 0.4s;
}

.titlepage{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    background-color:rgba(0, 0, 0, .7);
    color: white;
    font-family: Montserrat;
    font-weight: 900;
    font-size: 30px;
    text-align: center;
    
}
.format > div:hover{
       width: 100%;
    height: 250px;
    transition: 0.4s;
    
}

.format > div img{
    position: absolute;
    filter: grayscale(100%) brightness(40%);
    width: 100%;
    height: 250px;
    z-index: -1;
    transition: 0.4s;
    border-radius: 30px;
}
.format > div:hover img{
    filter: grayscale(0%) brightness(100%);
    transition: 0.4s;
    width:100%;
    height: 250px;
    border-radius: 30px;
}

.format > div .title{
 margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    background-color:rgba(0, 0, 0, .7);
    color: white;
    font-family: Montserrat;
    font-weight: 900;
    font-size: 20px;
    text-align: center;
    backdrop-filter: blur(4px);
    margin-left:100px;
    border-radius:20px;
}
.format > div .name{
 margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    background-color:rgba(0, 0, 0, .7);
    color: white;
    font-family: Montserrat;
    font-weight: 900;
    font-size: 20px;
    text-align: center;
    backdrop-filter: blur(4px);
    margin-left:100px;
    border-radius:20px;
}
.format > div .level{
 margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    background-color:rgba(0, 0, 0, .7);
    color: white;
    font-family: Montserrat;
    font-weight: 900;
    font-size: 20px;
    text-align: center;
    backdrop-filter: blur(4px);
    margin-left:100px;
    border-radius:20px;
}
.format > div .type{
    margin-left:100px;
 margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    background-color:rgba(0, 0, 0, .7);
    color: white;
    font-family: Montserrat;
    font-weight: 900;
    font-size: 20px;
    text-align: center;
    backdrop-filter: blur(4px);
    border-radius:20px;
}

.start{
padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    background-color:rgba(0, 0, 0, .7);
    width: 100%;
    text-align: center;
    font-family: Raleway;
    color:white;
    font-size: 20px;
    border-radius:20px;
}
.start .first{
 font-weight: 900;
    font-size: 25px;
}
.stop{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    background-color:rgba(0, 0, 0, .7);
    width: 100%;
    text-align: center;
    font-family: Raleway;
    color:white;
    font-size: 20px;
    border-radius:20px;
}
.stop .last{
 font-weight: 900;
    font-size: 25px;
}
.format .link-wrapper{
      margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.format a{
border-radius: 30px;
    text-decoration: none;
}
.format a>div{
width: 130px;
    height: 50px;
    background-color: rgb(232, 192, 97);
    border-radius: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Montserrat;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.button-create p{
    margin-left: 20px;
margin-top: 5px;

}
.space2{
    margin-left: 1000px;
    
    
}
.link-create{
       
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: rgb(45,46,45);
}
.link-create a{
border-radius: 30px;
    text-decoration: none;
  
}
.link-create a>div{
    width: 250px;
    height: 150px;
    font-size: 30px;
    background-color: rgb(232, 192, 97);
    border-radius: 30px;
    color: white;
    display: flex;
    align-items:center;
    justify-content: center;
    font-family: Montserrat;
    font-weight: bold;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-right:750px;
}
.text-create{
    width: 550px;
    height: 70px;
   color:rgb(232, 192, 97);
    border-radius: 30px;
    background-color: rgb(45,46,45);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Montserrat;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.gameself{
    background-color: rgb(232, 192, 97);
    display:flex;
    
}
.gameself > div {
    width: 550px;
  

}
.gameself > div >div .space2{
   margin-left:150px;
}